

.info{
    background-color: #396C84;
    margin-right: 4vw;
    border-radius: 0 0 10px 10px;
}

.bioDoc{
    background-color: #396C84; 
    aspect-ratio: 6/3;
    border-radius: 10px;
}

.bioNurse{
    background-color: #396C84; 
    aspect-ratio: 6/3;
    border-radius: 10px;
}

.bioRecep{
    background-color: #396C84; 
    aspect-ratio: 9/4;
    border-radius: 10px;
    max-height: 200px;
    font-size:  20px;
}

@media (max-width: 1200px) {
    .bioRecep {
        font-size: 15px;
    }
}

@media (max-width: 1000px) {
    .bioRecep {
        font-size: 10px;
    }
}

@media (max-width: 768px) {
    .bioRecep {
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    .bioRecep {
        font-size: 10px;
    }
}





.profile{
    margin-top: 200px;
    margin-bottom: 200px;
}

.profilePhoto{
    width: 45%;
    border-radius: 20%;
    position: relative;
    bottom: 7vw;
}

